In [1]:
from AnimalShelter import AnimalShelter
from bson.objectid import ObjectId

In [2]:
animals = AnimalShelter('aacuser', 'Leopard_1002')
animals.check_connection()

Connected to MongoDB successfully.

In [3]:
#Test the CREATE method by inserting a document into the MongoDB database
#Valid document create
print(animals.create({
  "age_upon_outcome": "69 years",
  "animal_id": "B654321",
  "animal_type": "Dog",
  "breed": "German Shepherd",
  "color": "Brown",
  "date_of_birth": "2024-04-20",
  "datetime": "2024-04-20T00:00:00",
  "monthyear": "2024-04-20T00:00:00",
  "name": "Adolf",
  "outcome_subtype": "",
  "outcome_type": "Adoption",
  "sex_upon_outcome": "Neutered Male",
  "location_lat": 0.0,
  "location_long": 0.0,
  "age_upon_outcome_in_weeks": 0.0
}))

Document inserted successfully.
True

In [3]:
#Invalid Document Create
print(animals.create({ 0:0 }))

Error inserting document: documents must have only string keys, key was 0
False

In [4]:
#Valid Query
query = animals.read({"name":"Adolf"})

{'_id': ObjectId('662ea774972ef42ab7b173c6'), 'age_upon_outcome': '69 years', 'animal_id': 'B654321', 'animal_type': 'Dog', 'breed': 'German Shepherd', 'color': 'Brown', 'date_of_birth': '2024-04-20', 'datetime': '2024-04-20T00:00:00', 'monthyear': '2024-04-20T00:00:00', 'name': 'Adolf', 'outcome_subtype': '', 'outcome_type': 'Adoption', 'sex_upon_outcome': 'Neutered Male', 'location_lat': 0.0, 'location_long': 0.0, 'age_upon_outcome_in_weeks': 0.0}

In [5]:
#Invalid Query
list(animals.read({0:0}))

Error executing query: documents must have only string keys, key was 0

TypeError: 'NoneType' object is not iterable

In [6]:
#Valid documentation update
updateAnimal = animals.update({"name": "Adolf"}, {"outcome_type": "Adopted"})
print(updateAnimal)

{'status': 'success', ' matched_count': 1, 'modified_count': 1}

In [7]:
#Invalid Documentation Update
print(animals.update({0:0}))

TypeError: AnimalShelter.update() missing 1 required positional argument: 'updateData'

In [8]:
#Valid document delete
deleteAnimal = animals.delete({"name":"Binx"})
print(deleteAnimal)

{'status': 'success', 'deleted_count': 4}

In [9]:
#Invalid document Delete
print(animals.delete{0:0})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3311404277.py, line 2)